<div style="display: flex;">
	<div class="back__btn__container" [routerLink]="'/home/usuarios/'+userType">
		<mat-icon class="back__btn">arrow_back</mat-icon>
	</div>
	<h1 style="margin-left: 10px;">{{(userType === 'backoffice') ? 'Editar usuario Back Office' : 'Editar de usuario Final'}}</h1>
</div>
<div class="section__edit">
	<form [formGroup]="editForm">
		<h2 class="subtitle">Datos personales</h2>
		<br />
		<div class="form__group">
			<mat-form-field appearance="outline">
				<mat-label>Nombre</mat-label>
				<input matInput placeholder="Nombre" formControlName="shortName" required />
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>Apellido</mat-label>
				<input matInput placeholder="Apellido" formControlName="lastName" required />
			</mat-form-field>
		</div>

		<div class="form__group">
			<mat-form-field appearance="outline">
				<mat-label>DNI</mat-label>
				<input matInput placeholder="DNI" formControlName="dni" required readonly/>
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>CUIL</mat-label>
				<input matInput placeholder="CUIL" formControlName="cuil" required readonly/>
			</mat-form-field>
		</div>
		<br />
		<h2 class="subtitle">Datos de contacto</h2>
		<br />
		<div class="form__group">
			<mat-form-field appearance="outline">
				<mat-label>E-mail</mat-label>
				<input matInput placeholder="E-mail" formControlName="email" required />
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>Teléfono</mat-label>
				<input matInput placeholder="Teléfono" formControlName="phoneNumber" required />
			</mat-form-field>
		</div>
	</form>
	<br />
	<div class="btn_group">
		<button mat-stroked-button class="buttons__stepper" [routerLink]="'/home/usuarios/'+userType">
			Descartar
		</button>
		<button mat-raised-button class="buttons__stepper__primary" (click)="submit()">
			Confirmar
		</button>
	</div>
</div>