@import '../../../../../../assets/style-variables/variables'

.section__edit
    background-color: white
    margin-top: 2vh
    padding: 30px
.card_content
    display: flex
    flex-wrap: wrap
    width: 70%
    border: 0.5px solid $primary
    background-color: $primary-purple
    padding: 24px
.form__group
    display: flex
.form__group>.mat-form-field
    margin: 10px
    width: 30%
.subtitle
    margin-bottom: 0
    font-weight: 500
.textarea__options
    height: 100px
    resize: none
.btn_group
    width: 65%
    text-align: right
.buttons__stepper__primary
    border-color: $primary
    color: #ffffff
    background-color: $primary
.buttons__stepper
    margin-right: 15px
    color: $medium-gray