@import '../../../../../../assets/style-variables/variables'

.section__stepper
    background-color: white
    margin-top: 5vh
    padding: 30px 30px 30px 30px
.buttons__stepper__primary
    border-color: $primary
    color: $primary
.buttons__stepper
    margin-right: 12px
    color: $light-grey
.card_content
    height: 100px
    width: 70%
    box-shadow: 1px 1px $purple
    background-color: $primary-purple
.title__options
    font-size: 12px
    color:$dark-purple
.subtitle__options
    font-size: 14px
    color:$primary  
    font-weight: 500