<div style="display: flex;">
	<div class="back__btn__container" routerLink="..">
		<mat-icon class="back__btn">arrow_back</mat-icon>
	</div>
	<h1 style="margin-left: 10px;">Nueva disminución individual</h1>
</div>
<div>
	<div class="section__stepper">
		<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
			<mat-step [stepControl]="verifyForm">
				<form [formGroup]="verifyForm">	
					<ng-template matStepLabel>Destinatario</ng-template>
					<div class="container__user__info">
						<mat-form-field appearance="outline" style="width: 40%; margin-bottom: 15px;">
							<mat-label>DNI / CUIL / Nombre de usuario</mat-label>
							<input matInput type="text" placeholder="ID usuario" formControlName="unassignedUser" required />
							<mat-hint align="start"><strong>(CUIL y DNI sin espacios, puntos o guiones)</strong> </mat-hint>
						</mat-form-field>
						<mat-card [ngClass]="secondStep.value.userIdentifier ? 'card_content_user' : 'hidden'" >
							<div>
								<mat-card-title class="title__options">Nombre</mat-card-title>
								<mat-card-subtitle class="subtitle__options" *ngIf="usuario"> 
									{{usuario.shortName}} {{usuario.lastName}} 
								</mat-card-subtitle>
							</div>
							<div>
								<mat-card-title class="title__options">DNI </mat-card-title>
								<mat-card-subtitle class="subtitle__options" *ngIf="usuario">
									{{usuario.dni | number}}
								</mat-card-subtitle>
							</div>
							<div>
								<mat-card-title class="title__options">CUIL</mat-card-title>
								<mat-card-subtitle class="subtitle__options" *ngIf="usuario"> 
									{{usuario.cuil | cuil}} 
								</mat-card-subtitle>
							</div>
						</mat-card>
					</div>
				</form>
				<br />
				<mat-dialog-actions>
					<button type="button" mat-stroked-button  class="buttons__stepper" (click)="verifyUsuario()">
						Verificar
					</button>
					<button type="button" mat-stroked-button  class="buttons__stepper__primary" [disabled]="!secondStep.value.userIdentifier" matStepperNext>
						Siguiente
					</button>
				</mat-dialog-actions>
			</mat-step>

			<mat-step [stepControl]="secondStep">
				<ng-template matStepLabel>Activo y cantidad</ng-template>
				<form [formGroup]="secondStep">
					<mat-form-field appearance="outline" style="width: 25%;">
						<mat-label>Cantidad</mat-label>
						<input matInput type="number" formControlName="amount" placeholder="Cantidad de BEN" required />
						<mat-hint align="start"><strong>(Sin decimales)</strong> </mat-hint>
					</mat-form-field>
	
					<mat-form-field appearance="outline" style="width: 13% ;margin-left: 15px">
						<mat-label>Activo</mat-label>
						<mat-select formControlName="tokenId">
							<mat-option *ngFor="let activo of activos" [value]="activo">
								{{ activo.symbol | uppercase }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</form>
				<br />
				<mat-dialog-actions>
					<button type="button" mat-stroked-button class="buttons__stepper" matStepperPrevious>
						Anterior
					</button>
					<button type="button" mat-stroked-button  class="buttons__stepper__primary" matStepperNext>
						Siguiente
					</button>
				</mat-dialog-actions>
			</mat-step>

			<mat-step [stepControl]="thirdStep">
				<ng-template matStepLabel>Observaciones</ng-template>
				<form [formGroup]="thirdStep">
					<mat-form-field appearance="outline" style="width: 40%;">
						<mat-label>Observaciones</mat-label>
						<input matInput type="text" formControlName="notes" placeholder="Escribe algo" />
						<mat-hint align="start"><strong>(Opcional)</strong> </mat-hint>
					</mat-form-field>
				</form>
				<br />
				<br />
				<mat-dialog-actions>
					<button type="button" mat-stroked-button class="buttons__stepper" matStepperPrevious>
						Anterior
					</button>
					<button type="button" mat-stroked-button  class="buttons__stepper__primary" matStepperNext>
						Siguiente
					</button>
				</mat-dialog-actions>
			</mat-step>

			<mat-step>
				<ng-template matStepLabel>Confirmacion</ng-template>
				<mat-card class="card_content">
					<div id="div1" style="float: left; width: 33.3%">
						<ul>
							<mat-card-title class="title__options">Destinatario</mat-card-title>
							<mat-card-subtitle class="subtitle__options">{{ secondStep.get('userIdentifier')?.value }} </mat-card-subtitle>
						</ul>
					</div>
					<div id="div2" style="float: left; width: 25.3%">
						<ul>
							<mat-card-title class="title__options">Activos</mat-card-title>
							<mat-card-subtitle class="subtitle__options">
								{{ secondStep.get('amount')?.value }} {{ (secondStep.get('tokenId')?.value).symbol | uppercase}}
							</mat-card-subtitle>
						</ul>
					</div>
					<div id="div3" style="float: left; width: 33.3%">
						<ul>
							<mat-card-title class="title__options">Observaciones</mat-card-title>
							<mat-card-subtitle class="subtitle__options">{{ thirdStep.get('notes')?.value }}</mat-card-subtitle>
						</ul>
					</div>
				</mat-card>
				<br />
				<mat-dialog-actions>
					<button type="button" mat-stroked-button class="buttons__stepper" matStepperPrevious>Anterior</button>
					<button type="submit" mat-stroked-button class="buttons__stepper__primary" (click)="submit()" matStepperNext>
						Confirmar
					</button>
				</mat-dialog-actions>
			</mat-step>
		</mat-stepper>
	</div>
</div>
