<div class="section__container">
	<app-title
		title="Disminuciones"
		[textButton]="'CREAR NUEVA'"
		(crearNuevoEvent)="onCrearNuevoEvent($event)"
	></app-title>
	<mat-tab-group mat-align-tabs="start">
		<mat-tab label="Masivos">
			<ng-container *ngIf="massiveDec">
				<app-tabla-masivos [massive]="massiveDec" (updateValues)="updateValues()"></app-tabla-masivos>
			</ng-container>
		</mat-tab>
		<mat-tab label="Individuales" [disabled]="true">
			<ng-container *ngIf="individualDec">
				<app-tabla-individuales [individual]="individualDec"></app-tabla-individuales>
			</ng-container>
		</mat-tab>
	</mat-tab-group>
</div>
