@import '../../../assets/style-variables/variables'
.section__subtable
    background-color: white
    margin-top: 3vh
    padding: 30px 30px 30px 
    overflow: hidden
table
    width: 100%
.paginator
    background-color: transparent
    margin-bottom: -2%
.color__option
  color: $grey
.text__id
    font-weight: bold
.image__status
    margin-bottom: -7px
    

.ACTIVE,.INACTIVE,.PENDING_APPROVE,.BLOCKED
    height: 8px
    width: 8px
    border-radius: 50%
    display: inline-block
    margin-right: 3px
.ACTIVE
    background-color: #6ebe64
.INACTIVE
    background-color: $grey
.PENDING_APPROVE
    background-color: #daa532
.BLOCKED
    background-color: #d11515
