<div class="section__modal">
	<div class="section__data-modal">
		<div class="title_modal" align="left">
			<h2 class="title">Seleccione un tipo de {{data}}</h2>
		</div>
		<div class="operation__types">
			<mat-dialog-actions class="operations">
				<button
					mat-button
					class="operation__btn spacing-one button_colors"
					(click)="diferentColor($event, 1)"
					[ngClass]="{ tabActivate: cambioColor === 'tab1' }"
				>
					<mat-icon>person</mat-icon> Individual
					<mat-icon class="check">done</mat-icon>
				</button>
			</mat-dialog-actions>
			<mat-dialog-actions class="operations">
				<button
					mat-button
					class="operation__btn spacing button_colors"
					(click)="diferentColor($event, 2)"
					[ngClass]="{ tabActivate: cambioColor === 'tab2' }"
				>
					<mat-icon>people</mat-icon> {{ (data === 'incremento') ? 'Masivo' : 'Masiva'}}
					<mat-icon class="check">done</mat-icon>
				</button>
			</mat-dialog-actions>
		</div>
	</div>
</div>

<mat-dialog-actions align="center">
	<button mat-stroked-button  mat-dialog-close class="modal__btn">Cancel</button>
	<button
		mat-raised-button
		[mat-dialog-close]="true"
		cdkFocusInitial
		(click)="redirectTo()"
		class="modal__btn confirm__btn"
	>
		Confirmar
	</button>
</mat-dialog-actions>
