<div class="section__modal">
	<div class="section__data-modal">
		<div align="end">
			<img src="../../../assets/images/modal/close_black_24dp.svg" class="btn_close" mat-dialog-close />
		</div>
		<div class="title_modal" align="left">
			<h2 class="title">Seleccione un tipo de incremento</h2>
		</div>
		<div class="types__increment">
			<mat-dialog-actions class="increments">
				<button
					mat-button
					class="button__increments spacing-one button_colors"
					(click)="diferentColor($event, 1)"
					[ngClass]="{ tabActivate: cambioColor === 'tab1' }"
				>
					<mat-icon>person</mat-icon> Individual
					<mat-icon class="check">done</mat-icon>
				</button>
			</mat-dialog-actions>
			<mat-dialog-actions class="increments">
				<button
					mat-button
					class="button__increments spacing button_colors"
					(click)="diferentColor($event, 2)"
					[ngClass]="{ tabActivate: cambioColor === 'tab2' }"
				>
					<mat-icon>people</mat-icon> Masivo
					<mat-icon class="check">done</mat-icon>
				</button>
			</mat-dialog-actions>
		</div>
	</div>
</div>

<mat-dialog-actions align="center">
	<button mat-stroked-button color="primary" mat-dialog-close class="buttons__modal">Cancel</button>
	<button
		mat-raised-button
		color="primary"
		[mat-dialog-close]="true"
		cdkFocusInitial
		(click)="redirectTo()"
		class="buttons__modal"
	>
		Confirmar
	</button>
</mat-dialog-actions>
