<div class="section__modal" *ngIf="!isLoading">
	<div align="end">
		<img src="../../../assets/images/modal/close_black_24dp.svg" class="btn_close" mat-dialog-close />
	</div>
	<div class="title_modal">
		<h2 class="title">{{ activo.shortName }}</h2>
	</div>
	<div>
		<mat-divider></mat-divider>
		<div class="flex__list__item">
			<div>Nombre completo</div>
			<div>{{ activo.description }}</div>
		</div>
		<mat-divider></mat-divider>
		<div class="flex__list__item">
			<div>Acrónimo</div>
			<div>{{ activo.shortName }}</div>
		</div>
		<mat-divider></mat-divider>
		<div class="flex__list__item">
			<div>Sigla</div>
			<div>{{ activo.symbol }}</div>
		</div>
		<mat-divider></mat-divider>
		<div class="flex__list__item">
			<div>Cantidad emitida</div>
			<div>{{ activo.initialAmount | number }}</div>
		</div>
		<mat-divider></mat-divider>
		<div class="flex__list__item">
			<div>Estado</div>
			<div>{{ activo.status | status }}</div>
		</div>
		<mat-divider></mat-divider>
		<div class="flex__list__item">
			<div>Transferible</div>
			<div>{{ activo.transferable ? 'Si' : 'No' }}</div>
		</div>
		<mat-divider></mat-divider>
		<div class="flex__list__item">
			<div>Vigencia desde</div>
			<div>{{ activo.validFrom | date }}</div>
		</div>
		<mat-divider></mat-divider>
		<div class="flex__list__item">
			<div>Vigencia hasta</div>
			<div>{{ activo.validTo | date }}</div>
		</div>
		<mat-divider></mat-divider>
		<div class="flex__list__item">
			<div>Emitido</div>
			<div>{{ activo.emited ? 'Si' : 'No' }}</div>
		</div>
		<mat-divider></mat-divider>
		<div class="flex__list__item">
			<div>Última modificación</div>
			<div>{{ activo.updatedAt | date }}</div>
		</div>
		<mat-divider></mat-divider>
	</div>
	<div mat-dialog-actions align="end">
		<button mat-button mat-dialog-close>Cerrar</button>
	</div>
</div>
