<div class="back__btn__container" [routerLink]="'/home/usuarios/'+userType">
	<mat-icon class="back__btn">arrow_back</mat-icon>
</div>
<div class="section__container" *ngIf="usuario">
	<div class="image__container">
		<img class="profile__img" [src]="usuario.avatarUrl" onError="this.src='assets/images/default-profile-img.png'">
	</div>
	<div class="user__management">
		<mat-card-title>{{ usuario.shortName }} {{ usuario.lastName }}</mat-card-title>
		<div class="flex__user__info">
			<div style="display: flex">
				<mat-card-subtitle class="highlight__info">Usuario</mat-card-subtitle>
				<mat-card-subtitle>{{ usuario.userId ? usuario.userId.username : usuario.username  }}</mat-card-subtitle>
			</div>
			<mat-card-subtitle class="highlight__info" *ngIf="usuario.rol">{{ usuario.rol }}</mat-card-subtitle>
		</div>
		<br />
		<div class="btn_group">
			<button mat-raised-button class="buttons__management status__btn" *ngIf="usuario.userId" (click)="editarEstado(usuario)"> {{(usuario.userId.status === 'ACTIVE') ? 'Desactivar' : 'Activar' }}</button>
			<button mat-stroked-button class="buttons__management" (click)="editarUsuario(usuario.id)">Editar</button>
		</div>
	</div>
	<mat-divider vertical style="height:100px"></mat-divider>
	<div class="user__info">
		<table>
			<td class="table__header">
				<tr>DNI</tr>
				<tr>CUIL</tr>
				<tr>Teléfono</tr>
				<tr>E-mail</tr>
			</td>
			<td>
				<tr>{{usuario.dni | number}}</tr>
				<tr>{{usuario.cuil | cuil}}</tr>
				<tr>{{usuario.phoneNumber}}</tr>
				<tr>{{usuario.email}}</tr>
			</td>
		</table>
	</div>
</div>
