<app-header (sideNavToggle)="onSideNavToggle()"></app-header>

<mat-sidenav-container class="container">
	<mat-sidenav
		#sidenav
		mode="side"
		opened
		class="sidenav"
		[fixedInViewport]="false"
		[fixedTopGap]="0"
		[fixedBottomGap]="0"
	>
		<mat-nav-list class="nav__items__container">
			<div
				class="nav__item"
				mat-list-item
				routerLink="{{nav.route}}"
				routerLinkActive="active"
				[routerLinkActiveOptions]="{exact : true}"
				*ngFor="let nav of navItems"
				[matTooltipDisabled]="nav.soon"
				matTooltip="Proximamente"
				matTooltipPosition="right"
				[ngClass]="nav.disabled == true ? 'disabled' : ''"
			>
				<mat-icon class="material-icons-outlined">{{ nav.icon }}</mat-icon>
				<p class="title">{{ nav.name }}</p>
			</div>
		</mat-nav-list>
		<span class="legend">POWERED BY INTERCONOMY</span>
	</mat-sidenav>

	<mat-sidenav-content class="content__container">
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
