@import '../../../../../../assets/style-variables/variables'

.section__stepper
    background-color: white
    margin-top: 5vh
    padding: 20px
.buttons__stepper__primary
    border-color: $primary
    color: $primary
.buttons__stepper
    margin-right: 12px
    color: $light-grey
.card_content
    height: 100px
    width: 70%
    border: 1px solid $primary
    background-color: $primary-purple
.title__options
    font-size: 15px
    font-weight: 400
    color: $primary
.subtitle__options
    font-size: large
    color: $primary
    font-weight: 500
.disabled__input
    color: #000
    cursor: pointer
.custom__file__input
    opacity: 0
    position: absolute
    height: 60px
    width: 200px
    transform: translate(-12px, -27px)
    cursor: pointer
.file__input__label
    height: 60px
    float: left
    transform: translateY(-5px)
    img
        height: 20px
        transform: translateY(3px)

    


