@import '../../../assets/style-variables/variables'
.section__subtable
    background-color: white
    margin-top: 5vh
    padding: 30px 30px 30px 30px
table
    width: 100%
.paginator
    background-color: transparent
    margin-bottom: -2%
.color__option
  color: $grey
.text__id
    font-weight: bold
.image__status
    margin-bottom: -7px
th
    font-size: 15.5px
    font-weight: 500