<div class="header__container">
	<div class="header__left">
		<img src="assets/images/logo-caja.png" alt="logo" />
		<!-- <button mat-mini-fab class="account__btn open__close__btn">
			<mat-icon class="material-icons-outlined open__close" (click)="toggleSideNav()">swap_horizontal_circle</mat-icon>
		</button> -->
	</div>
	<div class="header__rigth">
		<div class="usuario__container">
			<div class="usuario__nombre">
				<p>Hola {{userData.user.shortName}} {{userData.user.lastName}}!</p>
				<p>{{userData.user.username}}</p>
			</div>
			<img *ngIf="userData.user.avatarUrl" class="material-icons account__icon" [src]="userData.user.avatarUrl" alt="">
			<button *ngIf="!userData.user.avatarUrl" mat-mini-fab class="account__btn">
				<mat-icon class="material-icons account__icon">account_circle</mat-icon>
			</button>
		</div>
		<div class="usuario__icons">
			<mat-icon class="material-icons noti">notifications</mat-icon>
			<mat-icon class="material-icons-outlined logout" (click)="onLogOut()">logout</mat-icon>
		</div>
	</div>
</div>
